{% extends "base.html" %}
{% block content %}

<!--choose a template dropdown and render email--> 

<!-- apply when the templates are in correct dir -->
<!-- <div id='test_template'>
		Choose your template
	<select name='template_select'> 
		{% for template in available_templates %}
			<option> 
				{{ template }} 
			</option>
		{% endfor %}
	</select>
</div> 
--> 

<div>
	<select name = 'available_templates' id='availableTemplates'>
		<option value = "1"> One </option>
		<option value = "2"> Two </option>
	</select>
</div>

<!-- test email -->
<div id='test_email'>
	<a href = '/test_email'> Test your template with an email </a>
</div>

<!-- uploading the file-->
<div id='upload_file'>
<form action="/web_setup" method="post" enctype="multipart/form-data">
      <p>
      	Upload your file
      	<input type=file  name=file>
      </p>

      <p> 
        <input type="submit" value="Upload">
      </p>
</form>
</div>

{% endblock %}